beautifulsoup4
coverage
datamodel-code-generator #https://pypi.org/project/datamodel-code-generator/
faker
jupyter # required in addition to ipykernel for extended Jupyter functionality e.g. running notebooks from command line
openpyxl
sphinx
xsdata # https://xsdata.readthedocs.io/en/latest/
xsdata-pydantic # https://xsdata-pydantic.readthedocs.io/en/latest/            